/* Estilo geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 16px;
}

.flex {
    display: flex;
    
}

 .bt_contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF087F;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    transition: 2s;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: gray;
    text-decoration: none;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    display: inline-block;
  
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}




 .bt_contato button:hover{
    box-shadow: 0px 0px 8px #FF087F;
    transform: scale(1.05);
}


header img{
    width: 150px;
    height: 150px;
}

video{
    width: 100%;

}

/* Estilo do topo do site */

section .topo_do_site{
  padding: 40px 4%;  
}

section .vd_topo_site{
    cursor: not-allowed;
}

section .topo_do_site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.txt_topo_site h1{
    color: #fff;
    font-size: 33px;
    line-height: 40px;
}

.txt_topo_site h1 span{
    color: #FF087F;
    font-size: 43px;
}

.topo_do_site .txt_topo_site p{
    color: #fff;
    margin: 40px 0;
    /* position: absolute; */
    
     
}

.txt_topo_site{
    width:50% ;
    display: flex;
    flex-direction: column;
    display: inline-block;
    /* position: relative; */
    
    
}

.vd_topo_site{
    width:50% ;
    display: flex;
    justify-content: flex-end;
}



.texto_sobre h1{
    color: #fff;
    font-size: 33px;
    line-height: 40px;
    width: 40%;
    text-align: right;
    
}

.texto_sobre p {
    text-align: right;
}

.texto_sobre h1 span{
    color: #FF087F;
    font-size: 43px;
}

.texto_sobre{
    width: 100%;
    padding-right: 20px;
}

.img_sobre img{
    width: 350px;
    flex-direction:row;
}

.img_sobre {
    width: 350px;
}
.sobre_mim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 4%;
}

